<p>Solicitação de orçamento enviada pelo site.</p>
<br>
<p><strong>Segmento:</strong> {{ segment }}</p>
<p><strong>Empresa:</strong> {{ enterprise }}</p>
<p><strong>CNPJ:</strong> {{ cnpj }}</p>
<p><strong>Nome:</strong> {{ name }}</p>
<p><strong>Endereço:</strong> {{ address }}</p>
<p><strong>Complemento:</strong> {{ complement }}</p>
<p><strong>Bairro:</strong> {{ district }}</p>
<p><strong>Cidade:</strong> {{ city }}</p>
<p><strong>Estado:</strong> {{ state }}</p>
<p><strong>Fone:</strong> {{ phone }}</p>
<p><strong>E-mail:</strong> {{ email }}</p>
<p><strong>Mensagem:</strong></p>
{{ message|linebreaks }}
