{% extends "base.html" %}

{% load thumbnail %}
{% load embed_video_tags %}

{% block nav_home %} active{% endblock %}

{% block content %}

    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Home Slider -->
      <div class="home-slider">
        <!-- Carousel -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <!-- Slide #1 -->
            {% for ban in banner_list %}
              <div class="item{% if forloop.counter == 1 %} active{% endif %}" id="item-1" style="background-image: url({{ ban.image.url }});"></div>
            {% endfor %}
            <!--div class="item active" id="item-1"></div>
            <div class="item" id="item-2"></div>
            <div class="item" id="item-3"></div-->
          </div> <!-- / .carousel -->
          <!-- Controls -->
          <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div> <!-- / .home-slider -->

      <!-- begin: suppliers -->
      <div class="home-suppliers">
        <div class="container">
          <div id="owl-suppliers" class="owl-carousel owl-theme">
            {% for par in partner_list %}
              {% thumbnail par.image "80x50" format="PNG" as im %}
                <div class="item"><img src="{{ im.url }}" alt="{{ par.name }}"></div>
              {% empty %}
                <p>Sem Imagem</p>
              {% endthumbnail %}
            {% endfor %}
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
          </div>
        </div>
      </div>
      <!-- end: suppliers -->

      <!-- begin: catalog -->
      <div class="home-catalog">
        <div class="container">
          {% regroup product_list by category.name as category_list %}
          <ul>
            {% for category in category_list %}
            <li class="col-sm-6 col-md-6 col-lg-6">
              <div class="col-sm-5">
                <a href="{% url 'catalog:category_list' category.list.0.category.slug %}">
                  <h2>{{ category.grouper }}</h2>
                </a>
                {% for item in category.list %}
                <a href="{{ item.get_absolute_url }}">
                  <p>{{ item.name }}</p>
                </a>
                {% endfor %}
              </div>
              <div class="col-sm-7">
                <img class="img-responsive" src="{{ category.list.0.category.image.url }}" />
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- end: catalog -->

      <!-- begin: services -->
      <div class="main-services">
        <div class="container">
          <div class="row">
            {% for step in step_list %}
              <div class="col-sm-4">
                <a href="{% if forloop.counter == 1 %}{% url 'order' %}{% elif forloop.counter == 2 %}#{% elif forloop.counter == 3 %}{% url 'sale:estimate' %}{% endif %}">
                  <div class="services">
                    <div class="service-item {% if forloop.counter == 1 %}red{% elif forloop.counter == 2 %}green{% elif forloop.counter == 3 %}blue{% endif %}">
                      <i class="fa {% if forloop.counter == 1 %}fa-truck{% elif forloop.counter == 2 %}fa-download{% elif forloop.counter == 3 %}fa-edit{% endif %}"></i>
                      <div class="service-desc">
                        <h5>{{ step.title }}</h5>
                        <p>{{ step.description }}</p>
                      </div>
                    </div>
                  </div> <!-- / .services -->
                </a>
              </div>
            {% endfor %}
          </div>
        </div> <!-- / .container -->
      </div> <!-- / .main-features -->
      <!-- end: services -->

      <!-- begin: marketing -->
      <div class="main-marketing">
        <section id="companyCarousel" class="carousel carousel-2 slide bg-3" data-ride="carousel">
          <div class="carousel-inner">
            {% for cap in campain_list %}
              <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <h2>{{ cap.title }}</h2>
                              {% autoescape off %}
                                <p>{{ cap.body }}</p>
                              {% endautoescape %}
                          </div>
                          <div class="col-md-6">
                            {% if cap.video %}
                              <div class="video-container">
                              {% video cap.video '100%x364' %}
                              </div>
                            {% elif cap.image %}
                              {% thumbnail cap.image "485x364" crop="center" format="PNG" as im %}
                                <a href="{{ cap.get_absolute_url }}">
                                  <img src="{{ im.url }}" alt="{{ cap.title }}" class="img-responsive">
                                </a>
                              {% empty %}
                                <p>Imagem não encontrada.</p>
                              {% endthumbnail %}
                            {% else %}
                              <p>Imagem ou vídeo não encontrado.</p>
                            {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-arrow carousel-arrow-prev" href="#companyCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-arrow carousel-arrow-next" href="#companyCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </section>
      </div>
      <!-- end: marketing -->

    </div> <!-- / .wrapper -->

{% endblock content %}
