{% extends "base.html" %}

{% block nav_home %} active{% endblock %}

{% block content %}

    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Home Slider -->
      <div class="home-slider">
        <!-- Carousel -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1"></div>
            <div class="item" id="item-2"></div>
            <div class="item" id="item-3"></div>
          </div> <!-- / .carousel -->
          <!-- Controls -->
          <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div> <!-- / .home-slider -->

      <!-- begin: suppliers -->
      <div class="home-suppliers">
        <div class="container">
          <div id="owl-suppliers" class="owl-carousel owl-theme">
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
          </div>
        </div>
      </div>
      <!-- end: suppliers -->

      <!-- begin: catalog -->
      <div class="home-catalog">
        <!-- begin: catalog:box-1 -->
        <div class="box">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: catalog:box-1 -->
        <!-- begin: catalog:box-2 -->
        <div class="box">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: catalog:box-2 -->
      </div>
      <!-- end: catalog -->

      <!-- begin: services -->
      <div class="main-services">
        <div class="container">
          <div class="row">
            {% for step in step_list %}
              <div class="col-sm-4">
                <a href="{% if step.link %}{{ step.link }}{% else %}{{ step.page }}{% endif %}">
                  <div class="services">
                    <div class="service-item {% if forloop.counter == 1 %}red{% elif forloop.counter == 2 %}green{% elif forloop.counter == 3 %}blue{% endif %}">
                      {% if forloop.counter == 1 %}
                        <i class="fa fa-truck"></i>
                      {% elif forloop.counter == 2 %}
                        <i class="fa fa-download"></i>
                      {% elif forloop.counter == 3  %}
                        <i class="fa fa-edit"></i>
                      {% endif %}
                      <div class="service-desc">
                        <h5>{{ step.title }}</h5>
                        <p>{{ step.description }}</p>
                      </div>
                    </div>
                  </div> <!-- / .services -->
                </a>
              </div>
            {% endfor %}
          </div>
        </div> <!-- / .container -->
      </div> <!-- / .main-features -->
      <!-- end: services -->

      <!-- begin: marketing -->
      <div class="main-marketing">
        <section id="companyCarousel" class="carousel carousel-2 slide bg-3" data-ride="carousel">
          <div class="carousel-inner">
              <div class="item active">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <h2>Performance and design for your business</h2>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                              </p>
                          </div>
                          <div class="col-md-6">
                              <img src="{{ STATIC_URL }}img/ignore/marketing/20.jpg" class="img-responsive" alt="">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <h2>Complete features at your hand</h2>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                              </p>
                          </div>
                          <div class="col-md-6">
                              <img src="{{ STATIC_URL }}img/ignore/marketing/20.jpg" class="img-responsive" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <a class="carousel-arrow carousel-arrow-prev" href="#companyCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-arrow carousel-arrow-next" href="#companyCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </section>
      </div>
      <!-- end: marketing -->

    </div> <!-- / .wrapper -->

{% endblock content %}
