{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="OW7">
    <!--<link rel="shortcut icon" href="ico/favicon.ico">-->

    <title>{{ enterprise.name }}</title>

    <!-- Owl Carousel Assets -->
    <link href="{{ STATIC_URL }}owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <!--<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <!-- Resources -->
    <link href="{{ STATIC_URL }}fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="top-new">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="{{ STATIC_URL }}img/logo.png" alt="{{ enterprise.name }}">
            </a>
          </div>
          <!-- Collapse -->
          <div class="collapse navbar-collapse">
            <div class="row top-menu">
              <div class="col-md-8 pull-right">
                <ul class="nav navbar-nav navbar-right">
                  <li class="hidden-sm">
                    <a href="#">Institucional</a>
                  </li>
                  <li class="hidden-sm">
                    <a href="#">Área de Atuação</a>
                  </li>
                  <li class="hidden-sm">
                    <a href="#">Campanha</a>
                  </li>
                  <li class="hidden-sm">
                    <a href="#">Cotação</a>
                  </li>
                  <li class="hidden-sm">
                    <a href="#">Contato</a>
                  </li>
                </ul>
                <div class="row info">
                  <div class="col-md-9 pull-right">
                    <div class="col-md-5 phone">{{ enterprise.phone1 }}</div>
                    <div class="col-md-5">
                      SEGUNDA A SEXTA: 08H ÀS 18H<br>
                      SABÁDO: 08H ÀS 12H
                    </div>
                    <div class="col-md-2 social">
                      <img src="{{ STATIC_URL }}img/facebook_en.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <div class="container menu-two">
          <ul class="nav navbar-nav col-sm-9">
            <li class="hidden-sm">
              <a href="#">Categoria de Produtos</a>
            </li>
            <li class="hidden-sm">
              <a href="#">Marcas</a>
            </li>
            <li class="hidden-sm">
              <a href="#">Promoções</a>
            </li>
            <li class="hidden-sm">
              <a href="#">Catálogo de Produtos</a>
            </li>
          </ul>
          <div class="col-sm-3 search">
            <form class="form" role="form">
              <div class="row">
                <div class="input-group">
                  <input type="text" class="form-control" id="search" placeholder="Buscar">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="container shadow"><br></div>
      </div>
    </div> <!-- / .navigation -->

    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Home Slider -->
      <div class="home-slider">
        <!-- Carousel -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1"></div>
            <div class="item" id="item-2"></div>
            <div class="item" id="item-3"></div>
          </div> <!-- / .carousel -->
          <!-- Controls -->
          <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div> <!-- / .home-slider -->

      <!-- begin: suppliers -->
      <div class="home-suppliers">
        <div class="container">
          <div id="owl-suppliers" class="owl-carousel owl-theme">
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
            <div class="item"><img src="http://placehold.it/80x50/cccccc/FFFFFF"></div>
          </div>
        </div>
      </div>
      <!-- end: suppliers -->

      <!-- begin: catalog -->
      <div class="home-catalog">
        <!-- begin: catalog:box-1 -->
        <div class="box">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: catalog:box-1 -->
        <!-- begin: catalog:box-2 -->
        <div class="box">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-5">
                  <h2>EPI</h2>
                  <p>
                    BOTAS<br>
                    PROTETORES AUDITIVOS<br>
                    CAPAS DE CHUVA<br>
                    LUVAS<br>
                    OCULOS<br>
                    CAPACETES<br>
                  </p>
                </div>
                <div class="col-sm-7">
                  <img class="img-responsive" src="{{ STATIC_URL }}img/ignore/catalog/epi.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: catalog:box-2 -->
      </div>
      <!-- end: catalog -->

      <!-- begin: services -->
      <div class="main-services">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item red">
                  <i class="fa fa-truck"></i>
                  <div class="service-desc">
                    <h5>Receba seu Pedido</h5>
                    <p>
                      Lorem ipsum is simply dummy text of the
                      printing and typesetting. Lorem ipsum has been.
                    </p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item green">
                  <i class="fa fa-download"></i>
                  <div class="service-desc">
                    <h5>Baixe sua NFE</h5>
                    <p>
                      Disponibilizamos para você, uma ferramenta
                      para download da Nota Fiscal Eletrônica.
                    </p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item blue">
                  <i class="fa fa-edit"></i>
                  <div class="service-desc">
                    <h5>Solicite um Orçamento</h5>
                    <p>
                      Solicite já uma cotação. É simples e fácil.
                      Nosso compromisso é atender bem.
                    </p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
          </div>
        </div> <!-- / .container -->
      </div> <!-- / .main-features -->
      <!-- end: services -->

      <!-- begin: marketing -->
      <div class="main-marketing">
        <section id="companyCarousel" class="carousel carousel-2 slide bg-3" data-ride="carousel">
          <div class="carousel-inner">
              <div class="item active">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <h2>Performance and design for your business</h2>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                              </p>
                          </div>
                          <div class="col-md-6">
                              <img src="{{ STATIC_URL }}img/ignore/marketing/20.jpg" class="img-responsive" alt="">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <h2>Complete features at your hand</h2>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                              </p>
                          </div>
                          <div class="col-md-6">
                              <img src="{{ STATIC_URL }}img/ignore/marketing/20.jpg" class="img-responsive" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <a class="carousel-arrow carousel-arrow-prev" href="#companyCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-arrow carousel-arrow-next" href="#companyCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </section>
      </div>
      <!-- end: marketing -->

    </div> <!-- / .wrapper -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <!-- Contact Us -->
          <div class="col-sm-4">
            <h4><i class="fa fa-map-marker"></i> Contato</h4>
            <p>Não hesite em contactar-nos se você tiver dúvidas ou solicitações:</p>
            <p>
              {{ enterprise.address }}, {{ enterprise.number }}<br>
              CEP {{ enterprise.cep }}, {{ enterprise.district }}, {{ enterprise.city }}/{{ enterprise.state }}<br>
              Fone: {{ enterprise.phone1 }}<br>
              Email: {{ enterprise.email }}
            </p>
          </div>
          <!-- Recent Tweets -->
          <div class="col-sm-4 social">
            <h4><i class="fa fa-users"></i> Social</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
            <div class="col-sm-6">
              <img class="img-responsive" src="{{ STATIC_URL }}img/social/gac-pe.jpg" alt="GAC-PE">
            </div>
            <div class="col-sm-6">
              <img class="img-responsive" src="{{ STATIC_URL }}img/social/imip.jpg" alt="IMIP">
            </div>
          </div>
          <!-- Newsletter -->
          <div class="col-sm-4">
            <h4><i class="fa fa-envelope"></i> Newsletter</h4>
            <p>
              Digite seu e-mail abaixo para assinar nossa newsletter gratuita.
              <br>
              Prometemos não incomodá-lo muitas vezes!
            </p>
            <form class="form" role="form">
              <div class="row">
                <div class="col-sm-8">
                  <div class="input-group">
                    <label class="sr-only" for="subscribe-email">Email</label>
                    <input type="email" class="form-control" id="subscribe-email" placeholder="Digite seu email">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">OK</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>

    <!-- Copyright -->
    <div class="bot">
        <div class="container">
          <div class="row">
            <div class="col-sm-10">
              <div class="copyright">
                Copyright 2014 - {{ enterprise.name }} - CNPJ: {{ enterprise.cnpj }}
              </div>
            </div>
            <div class="col-sm-2 pull-right">
              <div class="copyright pull-right">
                <a href="http://www.jookle.com.br/">Jookle</a>
              </div>
            </div>
          </div>  <!-- / .row -->
        </div> <!-- / .container -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/scrolltopcontrol.js"></script>
    <script src="{{ STATIC_URL }}js/lightbox-2.6.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>
    <script src="{{ STATIC_URL }}js/index.js"></script>
    <script src="{{ STATIC_URL }}owl-carousel/owl.carousel.js"></script>

    <script>
      $(document).ready(function() {
        $("#owl-demo").owlCarousel({
          autoPlay: 5000,
          stopOnHouver: true,
          navigation: false,
          paginationSpeed: 1000,
          goToFirstSpeed: 0,
          singleItem: true,
          autoHeight: true,
          //transitionStyle: "fade"
        });
        $("#owl-demo2").owlCarousel({
          autoPlay: 5000,
          stopOnHouver: true,
          navigation: false,
          paginationSpeed: 1000,
          goToFirstSpeed: 0,
          singleItem: true,
          autoHeight: false,
          //transitionStyle: "fade"
        });
        $("#owl-suppliers").owlCarousel({
          autoPlay: 3000,
          items: 11,
          /*itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]*/
          itemsDesktop : [1199,8], //5 items between 1000px and 901px
          itemsDesktopSmall : [979,6], // betweem 900px and 601px
          itemsTablet: [600,4], //2 items between 600 and 0
          itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option
          navigation: false,
          pagination: false,
        });
      });
    </script>
  </body>
</html>
