{% extends "base.html" %}

{% block nav_catalog %} active{% endblock %}

{% block content %}

    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic catalog">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3>Catálogo de Protudos <small>{% if search %}busca por "{{ search }}"{% endif %}</small></h3>
            </div>
            <!--
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
              </ol>
            </div>
            -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <!-- Search -->
            <form role="form" action="." method="get">
              <div class="well">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input id="search" name="search" type="text" class="form-control" placeholder="Buscar...">
                      <span class="input-group-btn">
                        <button class="btn btn-blue" type="submit"><i class="fa fa-search"></i></button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
              </div>
            </form>
            <!-- Categories -->
            <div class="panel panel-default">
              <div class="panel-heading">
                Categorias
              </div>
              <div class="panel-body">
                <ul>
                  <li><a href="{% url 'catalog:home' %}">TODAS</a></li>
                  {% for c in category_list %}
                  <li><a href="{% url 'catalog:category_list' c.slug %}">{{ c.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div>
              <!-- Single button -->
              <div class="btn-group catalog-download">
                <button type="button" class="btn btn-lg btn-blue dropdown-toggle col-sm-12" data-toggle="dropdown">
                  Escolha um Catálogo <span class="caret"></span>
                </button>
                <ul class="dropdown-menu catalog" role="menu">
                  {% for b in catalog_list %}
                    <li>
                      <a href="{{ b.attach.url }}" target="_blank">
                        {{ b.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="row">

              {% block body %}

              {% endblock body %}

            </div>
          </div>
        </div> <!-- / .row -->

        <center>
          {% include "paginator.html" %}
        </center>

      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->

{% endblock content %}
